doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/rickshaw.css')
    script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
    script(src='/javascripts/rickshaw.js', charset='utf-8')
  body
    block content
    block js
